<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information.</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <center>
    <h1>Here is the user Information.</h1>
    <form action="/users/add" method="GET">
        <button type="submit">ADD USER</button>
    </form>
    <br>
    <table border="2">
        <tr>
            <th>UserId</th>
            <th>Username</th>
            <th>Email
            </th>
        </tr>
        <% for(user of users){ %>
            <tr>
                <td>
                    <%=user["UserId"]%>
                </td>
                <td>
                    <%=user["username"]%>
                </td>
                <td>
                    <%=user["email"]%>
                        <form action="/users/<%= user["UserId"] %>/Edit" method="GET">
                            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                            &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <button type="submit">Edit</button>
                        </form>
                        <form action="/users/<%= user["UserId"] %>/Check" method="GET">
                            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                            &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <button type="submit">Delete</button>
                        </form>
                </td>
            </tr>
            <% } %>
    </table>
</center>
</body>
</html>