<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit MESSAGE</title>
</head>
<body>
    <h1>ID is : <%=info._id %></h1>
    <br>
    Message from : <b><%=info.from %></b> to : <b><%=info.to %></b> <br>
    <form action="/chats/<%=id%>" method="POST">
        MESSAGE : <br> <textarea name="msg_" id="" cols="30" rows="10"><%=info.msg%></textarea>
        <button>SUBMIT</button>
    </form>
</body>
</html>